.main_body{
    width: 100vw;
    margin:0 !important;
    background: #734AD9;
    height: 100vh;
}
.about{
    padding-left: 15px;
    font-size: x-large;
    font-weight: 700;
    padding-top: 3%;
    padding-left: 15px;
}
.name_title{
    color: black !important;
    font-size: large;
    font-weight: 600;
    padding-right: 5px;
}
.content{
    color: white;
}
.phrase{
    text-align: center;
    font-weight: 900;
    font-size: large;
    color:black !important;
}
.heading{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    padding-top: 2%;
}
.post{
    margin-left:45%;
    margin-top: 5%;
    border-radius: 10px;
    background:whitesmoke;
    font-size: large;
    font-weight: 700;
}